*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.body{
    background-color: rgb(230, 230, 230);
}

/*start of home section*/
.navbar{
    background-color: white;
    padding-bottom: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar a{
    font-family: 'Cocogoose';
    font-size: 40px;
    font-weight: 200;
    margin-right: 40px;
}

.navbar-brand{
    margin-left: 100px;
}

.home{
    margin:0px;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url('/static/images/background-page-1.jpg');
    background-size: 1366px;
    background-attachment: fixed;
    background-position: top;
}

.home .greetings{
    padding-left: 100px;
}

.greetings_isi{
    border-bottom: solid 4px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-family: 'Cocogoose';
    font-weight: 200;
    font-size: 40px;
}

.deskripsi_isi{
    padding-left: 10px;
    padding-top: 20px;
    font-family: 'Roboto';
    font-weight: 300px;
    font-size: 20px;
}

.about{
    padding-top: 80px;
    padding-bottom: 200px;
    background-image: url('/static/images/segitiga2.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.education{
    background-image: url('/static/images/foto_education.jpg');
    height: 450px;
    background-size: 450px 450px;
    background-position: center;
    background-repeat: no-repeat;
}

.experience{
    background-image: url('/static/images/foto_experience.jpg');
    height: 450px;
    background-size: 450px 450px;
    background-position: center;
    background-repeat: no-repeat;
}

.about .click_me_container{
    color: white;
    border-style: solid;
    border-radius: 58px;
    box-sizing: border-box;
    border-width: 7px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 190px;
}

.click_me{
    font-family: 'Cocogoose';
    font-size: 40px;
    font-weight: 200px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.tulisan_contact{
    font-family: 'Cocogoose';
    font-size: 40px;
    font-weight: 200;
    border-bottom: solid 4px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.logo{
    margin-top: 50px;
    margin-bottom: 100px;
}
/*end of home section*/

/*start education section*/

.parallax1{
    height: 588px;
    background-image: url('/static/images/header/edu.jpg');
    padding:0px;
    margin:0px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portrait{
    padding:0px;
}

.sekolah{
    margin-top: 150px;
}

.judul{
    font-family: 'Cocogoose';
    font-size: 25px;
    font-weight: 200;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid 2px;
}

.info{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
}

.time{
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
}

/* end of education section*/

/*start of experience section*/

.parallax2{
    height: 588px;
    background-image: url('/static/images/header/exp.jpg');
    padding:0px;
    margin:0px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.picture_experience{
    padding:0px;
}

.experience1{
    margin:0px;
}

.atas{
    margin-top: 100px;
}

.bawah{
    margin-top: 100px;
}

.compfest_logo{
    margin-bottom: 10px;
}

.grab_logo{
    margin-bottom: 10px;
}

.grab_tulisan{
    border-top: solid 2px;
    font-family: 'Roboto';
    font-size: 17px;
    color: black;
    padding-top: 10px;
    margin:0px;
}

.compfest_tulisan{
    border-top: solid 2px;
    font-family: 'Roboto';
    font-size: 17px;
    color: black;
    padding-top: 10px;
    margin-bottom: 1px;
}

.bem_logo{
    margin-left: 0px;
    margin-bottom: 10px;
}

.bem_tulisan{
    border-top: solid 2px;
    font-family: 'Roboto';
    font-size: 17px;
    color: black;
    padding-top: 10px;
    margin-bottom: 1px;
}

.panah_exp{
    margin-top: 100px;
}

/* end of experience section*/
/* start of gallery section*/

.parallax3{
    height: 588px;
    background-image: url('/static/images/header/galery.jpg');
    padding:0px;
    margin:0px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.galery{
    padding:0px;
    margin:0px;
}

.tulisan{
    font-family: 'cocogoose';
    font-size: 25px;
    color: black;
}

.nama{
    font-family: 'cocogoose';
    font-size: 15px;
    color: rgb(26, 26, 26);
}

.quotes{
    padding-top:250px;
    padding-bottom:250px;
    background-color: rgb(230, 230, 230);
}

.under_construction{
    height: 588px;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url('/static/images/header/DSC_0264.JPG');
    filter: gray;
    -webkit-filter: grayscale();
    background-size: 1380px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.under_tulisan{
    font-family: 'cocogoose';
    font-size: 25px;
    color: white;
}

.balik{
    color: white;
}

/* end of gallery section */

/* start of hehe section */

.form_hehe{
    margin-top: 100px;
}