<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Create Schedule</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>

    <body>
        {% include 'nav.html' %}
        <h1>Schedule</h1>
        
        <table class="table">
            <thead>
                <th> Activity Name </th>
                <th> Date </th>
                <th> Place </th>
                <th> Category </th>
                <th> <th>
            </thead>
            <tbody>
                {% for skejul in skejuls %}
                <tr>
                <td>{{ skejul.activity }}</td>
                <td>{{ skejul.dateTime }}</td>
                <td>{{ skejul.place }}</td>
                <td>{{ skejul.category }}</td>
                <td><a href="{% url 'homepage:delete' pk=skejul.id %}"><button type ="button" class="btn btn-danger btn-sm">Delete</button><td>
                <tr>
                {% endfor %}
            </tbody>
        </table>

        <button><a href="{% url 'homepage:reset' %}" class="btn btn-danger btn-sm">Reset</a></button>
        <button><a href="{% url 'homepage:create' %}" class="btn btn-success btn-sm">Add</a></button>
        <div class="col-md-2 panah_schedule">
            <a class="arrow_back" href="{% url 'homepage:index' %}"><img src="{% static 'images/Arrow-Free-Download-PNG.png' %}" width="60"></a>
        </div>

    </body>


</html>