<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Create Schedule</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
    {% include 'nav.html' %}
    <div class="text-center container-fluid form_hehe">
        <form method='POST' action="{% url 'homepage:create' %}"> {% csrf_token %}
        {{ form.as_p }}
        <input type = 'submit' value='Save' />
        <button><a href="{% url 'homepage:view' %}">Back</a></button>
        </form>
    </div>
    </body>

</html>