<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Daril Nofriansyah's Education</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container-fluid parallax1">
        </div>
        <div class="container-fluid education1">
            <div class="text-center row">
                <div class="col-sm-0 col-md-1 col-lg-1">
                    <a class="arrow_back" href="{% url 'homepage:index' %}"><img src="{% static 'images/Arrow-Free-Download-PNG.png' %}" width="60"></a>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 sekolah">
                    <img class="img-fluid mw-100 h-auto logo_makara" src="{% static 'images/LOGO/makara-ui-fasilkom.png' %}" width="200">
                    <p class="text-center judul">Universitas<br>Indonesia</p>
                    <p class="text-center info">Bachelor of <strong>Computer Science</strong> <br> Majoring in <strong>Information System</strong></p>
                    <p class="text-center time">2018 - Present</p>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3 sekolah">
                    <img class="img-fluid mw-100 h-auto logo_labschool" src="{% static 'images/LOGO/Logo_Labschool.png' %}" width="195">
                    <p class="text-center judul">Labschool<br>Kebayoran</p>
                    <p class="text-center info">Class of <strong>2018</strong></p>
                </div>
                <div class="col-sm-0 col-md-1 col-lg-1">
                </div>
                <div class="text-right col-sm-4 col-md-4 col-lg-4 portrait">
                    <img src="{% static 'images/picture_education.jpg'%}" width="428">
                </div>
            </div>
        </div>
    </body>
</html>