<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Daril Nofriansyah's Experience</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container-fluid parallax2">
        </div>
        <div class="container-fluid experience1">
            <div class="text-center row">
                <div class="text-left col-sm-8 col-md-5 col-lg-5 picture_experience">
                    <img class="img_experience" src="{% static 'images/picture_experience.jpg' %}" width="396">
                </div>
                <div class="text-center col-sm-4 col-md-7 col-lg-7">
                    <div class="text-center row atas">
                        <div class="col-md-4 grab">
                            <img class="grab_logo" src="{% static 'images/LOGO/1200px-Grab_(application)_logo.svg.png' %}" width="155">
                            <p class="text-center grab_tulisan"><strong>Records Management</strong> Internship</p>
                            <p class="text-center grab_tanggal">July 2019 - August 2019</p>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 compfest">
                            <img class="compfest_logo" src="{% static 'images/LOGO/CompFest7-Logo-Black.png.4eb6e2f6e4ce0376cfd178b9437269f8.png' %}" width="250">
                            <p class="text-center compfest_tulisan">Staff of <strong>Seminar</strong> <br> In Charge of <strong>AR/VR Seminar</strong></p>
                            <p class="text-center compfest_tanggal">February 2019 - Present</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="text-center row bawah">
                        <div class="col-md-2"></div>
                        <div class="col-md-6 bem">
                            <img class="bem_logo" src="{% static 'images/LOGO/horizontal-set@2x.png' %}" width="255">
                            <p class="text-center bem_tulisan">Staff of <strong>Sports Department</strong> <br> In Charge of <strong>Apresiasi Kontingen</strong></p>
                            <p class="text-center bem_tanggal">February 2019 - Present</p>
                        </div>
                        <div class="col-md-2 panah_exp">
                            <a class="arrow_back" href="{% url 'homepage:index' %}"><img src="{% static 'images/Arrow-Free-Download-PNG.png' %}" width="60"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
