<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Daril Nofriansyah</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container-fluid home">
            <div class="row">
                <div class="col-sm-4 col-md-6 col-lg-6">
                </div>
                <div class="col-sm-8 col-md-6 col-lg-6 greetings">
                <p class="greetings_isi"> Hello! <br> I'm Daril Nofriansyah</p>
                <p class="text-justify deskripsi_isi">
                    An <strong>Undergraduate IT student</strong> who likes to solve problem. I am interested in obtaining new knowledge and skills, which I use to self-improve.
                </p>
                </div>
            </div>
        </div>
        <div class="container-fluid about" id="about">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 education">
                    <div class="text-center container click_me_container">
                        <a class="text-center click_me" href="{% url 'homepage:education' %}">CLICK ME</a>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-4 experience">
                    <div class="text-center container click_me_container">
                        <a class="text-center click_me" href="{% url 'homepage:experience' %}">CLICK ME</a>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="container-fluid contact" id="contact">
            <div class="containter-fluid contactMe">
                <p class="text-center tulisan_contact">Contact Me!</p>
            </div>
            <div class="container logo">
                <div class="text-center row">
                    <div class="col-sm-3 col-md-3 col-lg-3 logo">
                            <a class="logo1_gambar" href="#"><img src="{% static 'images/LOGO/281769.png' %}" width="100"></a>
                    </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 logo">
                            <a class="logo2_gambar" href="https://www.instagram.com/darilnofriansyah/"><img src="{% static 'images/LOGO/4f0149647a160a47217615866f5469c4.png' %}" width="100"></a>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 logo">
                        <a class="logo3_gambar" href="https://www.linkedin.com/in/daril-nofriansyah-153557147">
                            <img src="{% static 'images/LOGO/LinkedIn_logo_initials.png' %}" width="100">
                        </a>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 logo">
                        <a class="logo4_gambar" href="https://line.me/R/"><img src="{% static 'images/LOGO/line-messenger.png' %}" width="100"></a>
                    </div>
                
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
