{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href=""><img src="{% static 'images/logo.png' %}" widht="60" height="60"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="{% url 'homepage:index' %}">HOME <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'homepage:view' %}">SCHEDULE</a>
            <a class="nav-item nav-link" href="{% url 'homepage:project' %}">GALLERY</a>
        </div>
    </div>
</nav>