<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Daril Nofriansyah's S&P</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container-fluid parallax3">
        </div>
        <div class="container-fluid quotes">
            <p class="text-center tulisan">
                Photography takes an instant out of time, <br>
                altering life by holding it still. <br>
            </p>
            <p class="text-center nama">
                -Dorothea Lange
            </p>
        </div>
        <div class="container-fluid under_construction">
            <p class="text-center under_tulisan">
                Page is Under Construction. <br>
                Back to <a class="balik" href="{% url 'homepage:index' %}">Home</a>
            </p>
        </div>
    </body>
</html>